/SOLUCION/proyecto/nbproject/private/
/SOLUCION/proyecto/build/
/SOLUCION/proyecto.B1/nbproject/private/
/SOLUCION/proyecto.B1/build/
/SOLUCION/gestionEstudiantes/nbproject/private/
/SOLUCION/gestionEstudiantes/build/
